.name-input {
    display: block;
    border: none;
    border-bottom: 1px solid black !important;
    background: #ECECEC;
    width: 340px;
    height: 25px;
    padding-left: 10px;
    font-size: 15px;
    margin: 10px auto 0;
}

.firstname.validator, .lastname.validator, .firstnameBeg.validator, .lastnameBeg.validator, .phone.validator , .email.validator {
    display: none;
    width: 340px;
    border-top: none;
    margin-top: 0;
    font-size: 12px;
    padding: 5px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; 
    margin: 0 auto;
}

.sleep select {
  height: 30px;
}

.phone.validator {
  margin-bottom: 20px;
  margin-left: 70px;
  width: 269px;
}

.firstname.validator p, .lastname.validator p, .firstnameBeg.validator p, .lastnameBeg.validator p, .phone.validator p , .email.validator p {
    margin: 0;
}

.submit {
    margin-top: 10px;
    border: none;
    background: #ECECEC;
    border-bottom: 4px solid grey;
    color: grey;
    padding: 10px;
    width: 350px;
}

/*checkbox*/
  
  input[type="checkbox"] {
    position: relative;
    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1rem;
    background: white;
    outline: none;
    z-index: 100000;
    margin: 0;
  }
  
  input[type="checkbox"]:before {
    content: "";
    position: absolute;
    width: 1.1rem;
    height: 1.1rem;
    background: white;
    cursor: pointer;
  }
  
  input[type="checkbox"]:after {
    content: "";
    transition: .25s ease-in-out;
    position: absolute;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: .1rem solid #006917;
  }
  
  input[type="checkbox"]:checked:after {
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #006917;
    border-top-color: transparent;
    border-right-color: transparent;
  }

/*radios*/

fieldset {
  border: none;
}

input[type="radio"] {

}

/*Begleitung*/
.begleitung {
  display: none;
  margin-bottom: 10px;
}
/*whatsapp*/
.whatsapp {
  display: none;
  margin-bottom: 20px;
}

/*form*/

form {
  background: #c466ff;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  width: 350px;
}

form textarea {
  width: 345px;
}

.required-text {
  font-size: 12px;
}

.phone-field {
  display: inline;
  width: 268px;
}

.sleep {
  margin-bottom: 15px;
}

textarea {
  resize: none;
}

.whatsapp select {
  height: 30px;
}