@font-face {
    font-family: InfStroke;
    src: url(Infinite_Stroke_Cond.otf);
}

* {
    font-family: sans-serif;
}

body {
    /*background: linear-gradient(mediumspringgreen, blueviolet);*/
    background-repeat: no-repeat;
    margin: 0;
}

html {
    height: 100%;
}

header h1 {
    font-family: 'InfStroke', sans-serif;
    font-size: 80px;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    padding: 64px 0;
    color: cadetblue;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

header {
    height: 250px;
    background-image: url('wald.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.timer {
    padding: 20px 0;
    background: url('time.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
}

.form {
    background-image: url('party2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    text-align: center;
    padding-bottom: 70px;
    height: 830px;
}

.form h4 {
    margin: 0;
    padding: 20px;
    font-size: 25px;
}

footer {
    text-align: center;
}

.info p , .info h3{
    display: inline;
}

.info {
    text-align: center;
    padding: 20px;
}

.info::after {
    content: "";
    background-image: url('grill.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
    top: 30em;
    bottom: -40em;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.info ul span {
    font-size: 9px;
    text-align: center;
}

.info ul {
    margin: 0;
}

.timer--clock .clock-display-grp .number-grp .number-grp-wrp .num p , .timer--clock .time-unit p , .timer--clock .clock-separator p{
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.info ul li {
    list-style-position: inside;
}

.info ul li {
    text-align: left;
}

.info ul {
    text-align: center;
    margin: 0 auto;
    width: 570px;
    padding: 0;
}

footer {
    margin-top: 20px;
}